.contacts-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5625rem;
    padding: 50px 0;
}

.contacts-nav-a1, .contacts-nav-a2 {
    font-family: 'Roboto';
    font-size: 2rem;
    text-decoration: none;
    color: black;
}