.cta-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2.5rem;
    gap: 3.125rem;
}

.cta-block-titles {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6.25rem 0;
    gap: 1.5625rem;
}

.cta-block-t1 {
    font-family: 'Montserrat';
    font-size: 2rem;
}

.cta-block-t2 {
    font-family: 'Roboto';
    font-size: 2rem;
}