.excursions-faq {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.excursions-faq-title {
    font-family: 'Montserrat';
    font-size: 2rem;
    text-align: center;
}

.excursions-q1, .excursions-q2, .excursions-q3, .excursions-q4 {
    display: flex;
    flex-direction: column;
    gap: 50PX;
}

.q1, .q2, .q3, .q4 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.answer1, .answer2, .answer3, .answer4 {
    font-family: 'Roboto';
    font-size: 2rem;
    text-align: center;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 75px;
    padding: 100px 0;
}