.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6.25rem 2.5rem;
}

.hero-title {
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: bold;
}

.hero-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5625rem;
    padding: 3.125rem 0;
    
    text-align: justify;
}

.hero-text1, .hero-text2 {
    font-family: 'Roboto';
    font-size: 24px;
}