.team {
    display: flex;
    flex-direction: column;
    padding: 50px 6.25rem;
    gap: 50px;
}

.team-title {
    font-family: 'Montserrat';
    font-size: 2rem;
    text-align: center;
}

.team-cards {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.team-card1, .team-card2, .team-card3 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 33.5rem;
    padding: 25px;
    border-radius: 0.9375rem;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.team-fullinfo1, .team-fullinfo2, .team-fullinfo3 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.team-name-post1, .team-name-post2, .team-name-post3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.team-name1, .team-name2, .team-name3 {
    font-family: 'Roboto';
    font-size: 2rem;
    text-align: center;
}

.team-post1, .team-post2, .team-post3 {
    font-family: 'Roboto';
    text-align: center;
    font-size: 24px;
}

.team-info1, .team-info2, .team-info3 {
    font-family: 'Roboto';
    font-size: 24px;
}


.team-card-img1, .team-card-img2, .team-card-img3 {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 1279px) {
    .team {
        padding: 40px 3rem;
        gap: 40px;
    }
    
    .team-cards {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    
    .team-card1, .team-card2, .team-card3 {
        width: 100%;
        max-width: 600px;
        gap: 25px;
        padding: 20px;
    }
    
    .team-fullinfo1, .team-fullinfo2, .team-fullinfo3 {
        gap: 25px;
    }
    
    .team-title {
        font-size: 1.8rem;
    }
    
    .team-name1, .team-name2, .team-name3 {
        font-size: 1.8rem;
    }
    
    .team-post1, .team-post2, .team-post3 {
        font-size: 22px;
    }
    
    .team-info1, .team-info2, .team-info3 {
        font-size: 22px;
    }
}

@media (max-width: 767px) {
    .team {
        padding: 30px 1rem;
        gap: 30px;
    }
    
    .team-cards {
        gap: 30px;
    }
    
    .team-card1, .team-card2, .team-card3 {
        gap: 20px;
        padding: 15px;
    }
    
    .team-fullinfo1, .team-fullinfo2, .team-fullinfo3 {
        gap: 20px;
    }
    
    .team-name-post1, .team-name-post2, .team-name-post3 {
        gap: 10px;
    }
    
    .team-title {
        font-size: 1.6rem;
    }
    
    .team-name1, .team-name2, .team-name3 {
        font-size: 1.6rem;
    }
    
    .team-post1, .team-post2, .team-post3 {
        font-size: 20px;
    }
    
    .team-info1, .team-info2, .team-info3 {
        font-size: 20px;
    }
}