@font-face {
    font-family: 'Montserrat';
    src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(/assets/fonts/Roboto-VariableFont_wdth,wght.ttf);
}