<div class="collection">
    <div class="collection-name">Из нашей коллекции</div>
    <div class="collection-cards">
        <div class="collection-card1">
            <img class="album-cover1" src="../assets/images/cover11.webp" alt="">
            <div class="album-title1">The Beatles - Yesterday and Today (1966)</div>
            <div class="album-description1">Почему редкий: Первая партия обложек была напечатана с провокационным фото, где участники группы позируют в халатах с кукольными частями и мясом.После скандала тираж срочно изъяли и заменили.</div>
        </div>
        <div class="collection-card2">
            <img class="album-cover2" src="../assets/images/cover22.webp" alt="">
            <div class="album-title2">Joy Division - Unknown Pleasures (1979)</div>
            <div class="album-description2">Почему редкий: Первый выпуск пластинки имел уникальную текстурированную обложку — позже её заменили гладкой из-за стоимости производства.</div>
        </div>
        <div class="collection-card3">
            <img class="album-cover3" src="../assets/images/cover33.webp" alt="">
            <div class="album-title2">Led Zeppelin - Led Zeppelin I (1969)</div>
            <div class="album-description2">Почему редкий: Самая первая версия альбома выходила с бирюзовым текстом на обложке.Через пару недель типографию заменили, и текст стал коричневым.</div>
        </div>
    </div>
    <div class="collection-btn">
        @@include('../components/_cta-btn.html')
    </div>
</div>