<div class="contacts-info">
    <div class="contacts-info-title">Мы всегда на связи. Напишите нам или посетите музей лично.</div>
    <div class="contacts-info-block">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2259.9706329645437!2d37.586155399999996!3d55.498037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414aaecc738ebe51%3A0x4a72b56347edd592!2z0YPQuy4g0JrRg9C30L3QtdGG0L7QstCwLCAzLCDQnNC-0YHQutCy0LAsIDExNzE0OA!5e0!3m2!1sru!2sru!4v1763750631925!5m2!1sru!2sru" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="contacts">
            <div class="contact1">
                <img class="contacts-house-icon" src="../assets/images/house2.webp" alt="">
                <div class="contacts1-txt">Адрес: г. Москва, ул. Кузнецова, 3А</div>
            </div>
            <div class="contact2">
                <img class="contacts-phone-icon" src="../assets/images/phone2.webp" alt="">
                <div class="contacts2-txt">Телефон: +7 (900) 123-45-67</div>
            </div>
            <div class="contact3">
                <img class="contacts-mail-icon" src="../assets/images/mail2.webp" alt="">
                <div class="contacts3-txt">Почта: vinylarium.museum@yandex.ru</div>
            </div>
            <div class="contact4">
                <img class="contacts-clock-icon" src="../assets/images/clock2.webp" alt="">
                <div class="contacts4-txt">График работы: пн-сб с 10:00 до 20:00</div>
            </div>
        </div>
    </div>
</div>