<div class="excursions-cards">
    <div class="excursions-cards-title">Узнайте историю редких пластинок, скрытые детали изданий и секреты коллекционеров.</div>
    <div class="excursions-cards-row">
        <div class="excursions-card1">
            <div class="excursions-card1-title-duration">
                <div class="excursions-card1-title">Простая экскурсия</div>
                <div class="excursions-card1-duration">30-40 минут</div>
            </div>
            <div class="excursions-card1-info">Узнайте историю редких пластинок, скрытые детали изданий и секреты коллекционеров.</div>
            <div class="excursions-card1-cost">700 ₽</div>
            <div class="excursions-card1-btn">
                @@include('../components/_cta-btn.html')
            </div>
        </div>
        <div class="excursions-card2">
            <div class="excursions-card2-title-duration">
                <div class="excursions-card2-title">За кулисами коллекции</div>
                <div class="excursions-card2-duration">60 минут</div>
            </div>
            <div class="excursions-card2-info">Увлекательная экскурсия о том, как формируется коллекция музея. Смотрите пластинки, которые не демонстрируются в основном зале. Ведёт куратор музея. Цена: 900–1200 ₽</div>
            <div class="excursions-card2-cost">1200 ₽</div>
            <div class="excursions-card2-btn">
                @@include('../components/_cta-btn.html')
            </div>
        </div>
        <div class="excursions-card3">
            <div class="excursions-card3-title-duration">
                <div class="excursions-card3-title">Винил под микроскопом</div>
                <div class="excursions-card3-duration">45 минут</div>
            </div>
            <div class="excursions-card3-info">Глубокий разбор редких пластинок: сравнение разных изданий, анализ матриц, заводских прессовок и коллекционной ценности. Идеально для ценителей винила.</div>
            <div class="excursions-card3-cost">100 ₽</div>
            <div class="excursions-card3-btn">
                @@include('../components/_cta-btn.html')
            </div>
            
        </div>


    </div>
</div>