<div class="excursions-faq">
    <div class="excursions-faq-title">
        Ответы на часто задаваемые вопросы:
    </div>
    <div class="questions">
        <div class="excursions-q1">
            <div class="q1">Сколько человек в группе?</div>
            <div class="answer1">В группе до 10 человек</div>
        </div>
        <div class="excursions-q2">
            <div class="q2">Можно ли прийти с детьми?</div>
            <div class="answer2">Да, экскурсии подходят и для детей 7+</div>
        </div>
        <div class="excursions-q3">
            <div class="q3">Можно ли фотографировать?</div>
            <div class="answer3">Можно, но без вспышки</div>
        </div>
        <div class="excursions-q4">
            <div class="q4">Нужна ли предварительная запись?</div>
            <div class="answer4">Предпочтительно — места ограничены.</div>
        </div>
    </div>
    
</div>