<footer>
    <div class="footer-nav">
        
        <div class="footer-navigation">
            <div class="footer-navigation-name">Навигация</div>
            <a class="footer-a1" href="index.html">Главная</a>
            <a class="footer-a2" href="excursions.html">Экскурсии</a>
            <a class="footer-a3" href="about.html">О нас</a>
            <a class="footer-a4" href="contacts.html">Контакты</a>
        </div>
        <div class="footer-contacts">
            <div class="footer-contacts-name">Контакты</div>
            <div class="footer-contact1">
                <img class="house-icon" src="../assets/images/house.webp" alt="">
                <div class="contact1-txt">Адрес: г. Москва, ул. Кузнецова, 3А</div>
            </div>
            <div class="footer-contact2">
                <img class="phone-icon" src="../assets/images/phone-icon.webp" alt="">
                <div class="contact2-txt">Телефон: +7 (900) 123-45-67</div>
            </div>
            <div class="footer-contact3">
                <img class="mail-icon" src="../assets/images/mail.webp" alt="">
                <div class="contact3-txt">Почта: vinylarium.museum@yandex.ru</div>
            </div>
            <div class="footer-contact4">
                <img class="clock-icon" src="../assets/images/clock.webp" alt="">
                <div class="contact4-txt">График работы: пн-сб с 10:00 до 20:00</div>
            </div>
        </div>

        <div class="footer-social">
            <div class="footer-social-name">Наши соцсети</div>
            <div class="footer-inst">
                <img class="inst" src="../assets/images/inst.webp" alt="">
                <div class="inst-txt">vinylarium.museum</div>
            </div>
            <div class="footer-tg">
                <img class="tg" src="../assets/images/tg.webp" alt="">
                <div class="tg-txt">vinylarium_channel</div>
            </div>
            <div class="footer-vk">
                <img class="vk" src="../assets/images/vk.webp" alt="">
                <div class="vk-txt">vinylarum_club</div>
            </div>
        </div>
    </div>
    <div class="footer-rights">© Винилариум, 2025. Все права защищены.</div>
</footer>