<div class="history">
    <div class="history-title">Наша история</div>
    <div class="history-txt">
        Всё началось с маленькой, пыльной коробки на чердаке, доставшейся нам в наследство от старого меломана. Среди обычных пластинок мы нашли одну необычную — с перевёрнутой этикеткой. Эта находка заставила нас взглянуть на винил по-другому. Мы увидели в нём не просто носитель, а уникальный объект, чья ценность заключается в его истории, редкости и даже в его «несовершенствах». <br><br>

        С того дня наша частная коллекция начала расти. Мы искали, обменивались, находили на блошиных рынках и аукционах по-настоящему особенные экземпляры: пластинки с опечатками в названиях, ограниченные тиражи, промо-релизы, издания с альтернативными обложками. В 2023 году наша страсть переросла в проект, и двери «Винилариума» открылись для всех ценителей аналогового звука и музыкальных раритетов.
    </div>
</div>