<div class="mission">
    <div class="mission-title">Наша миссия</div>
    <div class="mission-txt">
        Мы выступаем в роли хранителей материального наследия музыкальной индустрии. Наша задача — сберечь эти хрупкие артефакты от забвения, обеспечив им правильные условия и дав им вторую жизнь. <br><br>
        
        Мы хотим показать новому поколению магию аналогового звука и тактильного опыта общения с музыкой. Через наши экспонаты мы рассказываем истории о музыкантах, звукоинженерах и дизайнерах, чьи работы навсегда изменили мир. <br><br>

        «Винилариум» — это место встречи для коллекционеров, меломанов и всех любопытствующих. Мы создаём сообщество, где можно делиться находками, спорить о звуке и вместе погружаться в уникальную атмосферу виниловой культуры. <br><br>
    </div>
</div>