<div class="principles">
    <div class="principles-title">Наши принципы</div>
    <div class="principles-txt">
        Аутентичность превыше всего. Мы не исправляем опечатки и не маскируем следы времени, если они не угрожают целостности пластинки. Каждая царапина — это часть её биографии. <br><br>
        
        Доступность. Мы стремимся сделать мир редкого винила открытым для всех. Наши экскурсии и мероприятия понятны как опытным коллекционерам, так и тем, кто только начинает свой путь. <br><br>
        
        Образовательный подход. Для нас важно не просто показать экспонат, но и рассказать его историю: почему он редкий, как был создан, в чём его культурная ценность. <br><br>
        
        Сообщество. Мы верим в силу сообщества и открыты к сотрудничеству. Если у вас есть уникальная пластинка и вы хотите поделиться её историей — мы всегда рады вас услышать.
    </div>
</div>