<div class="rates">
    <div class="rates-title">Что говорят наши посетители</div>
    <div class="cards">
        <div class="rates-card1">
            <div class="card-rate1">
                <div class="card-rate-name1">Артём Ковалёв</div>
                <img class="card-rate-rating5" src="../assets/images/5starss.webp" alt="">
            </div>
            <div class="rates-text-card1">«Не ожидал увидеть столько действительно редких пластинок в одном месте. Некоторые экземпляры я знал только по статьям в журналах. Экскурсовод рассказывал так, будто сам был на тех студиях звукозаписи в 60-х. Вернусь ещё.»</div>
        </div>

        <div class="rates-card2">
            <div class="card-rate2">
                <div class="card-rate-name2">Марина Громова</div>
                <img class="card-rate-rating5" src="../assets/images/5starss.webp" alt="">
            </div>
            <div class="rates-text-card2">«Всегда думала, что винил — это просто мода. Но после экскурсии поняла, что каждая пластинка — это кусок истории. Особенно впечатлили ограниченные тиражи. Атмосфера шикарная.»</div>
        </div>
        
        <div class="rates-card3">
            <div class="card-rate3">
                <div class="card-rate-name3">Елена Матвеева</div>
                <img class="card-rate-rating5" src="../assets/images/5starss.webp" alt="">
            </div>
            <div class="rates-text-card3">«Пришли без особых ожиданий, а получили одно из лучших впечатлений за год. Особенно понравилось, что можно было увидеть разные версии одного альбома и понять, чем они отличаются. Рекомендуем всем.»</div>
        </div>

        <div class="rates-card4">
            <div class="card-rate4">
                <div class="card-rate-name4">Данил Руденко</div>
                <img class="card-rate-rating45" src="../assets/images/45stars.webp" alt="">
            </div>
            <div class="rates-text-card4">«Отличная коллекция редкого винила. Некоторые пластинки прослушивал только в цифровом виде — увидеть оригиналы было круто. Единственное, хотелось бы чуть больше информации о мастеринг-инженерах, но в целом музей топ.»</div>
        </div>
    </div>
</div>