<div class="team">
    <div class="team-title">Наша команда</div>
    <div class="team-cards">
        <div class="team-card1">
            <img class="team-card-img1"  src="../assets/images/team1.webp" alt="">
            <div class="team-fullinfo1">
                <div class="team-name-post1">
                    <div class="team-name1">Демид Лебедев</div>
                    <div class="team-post1">Основатель и главный хранитель</div>
                </div>
                <div class="team-info1">
                    Идеолог «Винилариума». Обладает энциклопедическими знаниями в области истории звукозаписи и неиссякаемым энтузиазмом. Именно его находка положила начало нашей коллекции.
                </div>
            </div>
        </div>
        <div class="team-card2">
            <img class="team-card-img2"  src="../assets/images/team2.webp" alt="">
            <div class="team-fullinfo2">
                <div class="team-name-post2">
                    <div class="team-name2">Глеб Смирнов</div>
                    <div class="team-post2">Куратор экспозиций и историк</div>
                </div>
                <div class="team-info2">
                    Отвечает за научный подход и увлекательное повествование. Превращает разрозненные пластинки в тематические выставки с собственной историей.
                </div>
            </div>
        </div>
        <div class="team-card3">
            <img class="team-card-img3"  src="../assets/images/team3.webp" alt="">
            <div class="team-fullinfo3">
                <div class="team-name-post3">
                    <div class="team-name3">Глеб Смирнов</div>
                    <div class="team-post3">Мастер по реставрации и звуку</div>
                </div>
                <div class="team-info3">
                    Наш «доктор» для винила. Бережно возвращает к жизни старые и повреждённые пластинки, а также следит за тем, чтобы звук на наших прослушиваниях был безупречным.
                </div>
            </div>
        </div>
    </div>
</div>